    <footer class="foot d-none d-md-block">
    <div class="container-fluid">
    <form class="d-flex tnc pt-2">
        <a
        href="#"
        class="text-secondary mx-2"
        style="text-decoration: none; color: white !important"
        >Terms of Condition
        </a>
        <span>|</span>
        <a
        href="#"
        class="text-secondary mx-2"
        style="text-decoration: none; color: white !important"
        >
        Privacy Policy</a
        >
    </form>
    </div>
    </footer>