    <nav class="navbar bg-body-tertiary defaultColor" id="navbar">
      <div class="container-fluid">
        <a class="navbar-brand mt-0 pt-0 mb-0 pb-0" href="#">
          <img
            src="~/SRS Screen Shorts/logo.png"
            alt="Logo"
            width="auto"
            height="60px"
          />
        </a>
        <form class="d-flex">
          <button
            onclick="toggleDarkTheme()"
            type="button"
            style="border-radius: 10px; border-color: aqua"
            id="colorButton">
                    <i id="moon" class="bi bi-moon text-info fs-4"></i>
                    <i id="sun" class="bi bi-sun text-info fs-4 d-none"></i>
          </button>
        </form>
      </div>
    </nav>