.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  filter: blur(3px);
  height: 100%;
  width: 100%;
}
.demo-content {
  position: relative;
}
.inputs{
  background-color: transparent;
}
.innertext {
  color: #aaaaaa;
  background-color: transparent;
}
.form1 {
  width: auto;
  margin: auto;
}
.footer{
  margin: auto;
  width: auto;
}
.dmode {
  position: absolute;
  right: 0;
  z-index: 10;
}
.dmbtn {
  height: 35px;
  width: 30px;
}
.show-password {
  width: 50px;
  position: absolute;
  top: 10px;
  right: 4px;
}
@media screen and (max-width : 576px){
  .logo{
      visibility: hidden;
  }
}